.DS_Store
.Rhistory
Lectures/
HW/HW Week 10/databases/
HW/HW Week 11/fastqc/*/
HW/HW Week 11/multiqc_data/
Project/Other/
Project/Old/
Project/output/
Project/*.html
Project/figures/
Project/Tomer_Yaron_Project_files/
